.app {
  height: 100vw;
  padding: 20px;
  background-color: rgb(175, 175, 175);
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

button {
  height: 30px;
  background-color: rgb(255, 85, 85);
  border: 1px solid;
  box-shadow: 1px 1px;
  cursor: pointer;
}